body, div, p, img, a{
	margin: 0;
	padding: 0;
	border: 0;
}
a{
	color: white;
	text-decoration: none;
}

li{
	font-size: 20px;
	list-style-type: none;
}
body{
	background: rgba(31, 29, 129, 0.72);
	color: white;
	font-family: LatoWeb,Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 25px;
}


#wrap{
	width: 60%;
	margin: 0 auto;
}
/*个人信息*/
#personal_Inf{
	width: 100%;
	margin-bottom: 10%;
}
#personal_Inf img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	width: 15%;
	border: 3px solid hsla(0, 0%, 100%, .8);
	border-radius: 50%;
	transition: width 1.5s, transform 1.5s;
	-webkit-transition: width 1.5s, transform 1.5s; /* Safari and Chrome */
	-moz-transition: width 1.5s, transform 1.5s; /* Firefox 4 */
	-o-transition: width 1.5s, transform 1.5s; /* Opera */
}
#personal_Inf img:hover{
	width: 23%;
	transform: rotateY(360deg);
}

#personal_Inf_a{
	margin-top: 40px;
	display: none;
}
#personal_Inf_a p{
	margin-left: 30%;
}

/*其他*/

#more_Inf{
	
}

.more_Inf_c{
	display: inline-block;
	width: 24%;
	position: relative;
}

#more_Inf img{
	width: 30%;
	border: 3px solid hsla(0, 0%, 100%, .5);
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: width 1s, transform 1s;
	-webkit-transition: width 1s, transform 1s; /* Safari and Chrome */
	-moz-transition: width 1s, transform 1s; /* Firefox 4 */
	-o-transition: width 1s, transform 1s; /* Opera */
}
/*my repo*/
#repo_more ul{
	position: absolute;
	top: 100%;
	padding: 0;
	width: 100%;
}

#repo_list{
	display: none;
}
#repo_more ul li{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid hsla(0, 0%, 100%, .5);
	border-radius: 10%;
}


#more_Inf img:hover{
	width: 50%;
	transform: rotate(360deg);
}