body, div, input, p, button, img, h1, h2, h3, h4, h5, h6, img{
	padding: 0;
	margin: 0;
}

.wrap{
	width: 60%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.search_bar{
	width: 70%;
	height: 40px;
	margin-top: 20px;
}
#keyword_search{
	height: 100%;
	width: 80%;
	float: left;
}
#toSearch{
	height: 100%;
	width: 20%;
}
#bookTotal{
	margin-top: 30px;
}


/*Cell布局*/
.cell{
	min-height: 160px;
	margin-left: 130px;
	margin-bottom: 50px;
	position: relative;
}
.cell img{
	position: absolute;
	left: -130px;
}

/*分割线*/
.division{
	border-bottom: 1px solid gray;
	margin-left: -130px;
	margin-bottom: 0;
}