body{
	background-color: rgba(0, 0, 0, 0.84);
	padding-top: 50px;
}

.carousel{
	height: 500px;
	background-color: rgba(0, 0, 0, 0.84);
}

.carousel .item{
	height: 500px;
	background-color: rgba(0, 0, 0, 0.84);
}

.carousel img{
	width: 100%;
}

.carousel-caption p{
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.8;
}

.heros{
	margin-top: 5%;
	width: 80%;
	text-align: center;
	margin-bottom: 50px;
}

footer{
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 50px;
	color: white;
}